html {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    background-color: #00EBE6;
}

header {
    color: #206B6A;
}

figcaption {
    color: #00B8B5;
}

div {
    color: #00B8B5;
}

p {
    color: #00B8B5;
}